<p id="notice"><%= notice %></p>

<p>
  <strong>Skill score:</strong>
  <%= @review.skill_score %>
</p>

<p>
  <strong>Teammate score:</strong>
  <%= @review.teammate_score %>
</p>

<p>
  <strong>Communication score:</strong>
  <%= @review.communication_score %>
</p>

<p>
  <strong>Play again:</strong>
  <%= @review.play_again %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @review.comments %>
</p>

<p>
  <strong>Target:</strong>
  <%= @review.target_id %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
